<nav class="sticky top-0 z-50 bg-gray-800 border border-gray-700 mx-3 mt-2 rounded-2xl px-4 py-3">
  <div class="flex items-center justify-between  max-w-5xl mx-auto">
    <!-- Desktop links -->
    <div class="hidden md:flex items-center gap-8">
      <a routerLink="/about" routerLinkActive="text-yellow-400" class="text-gray-300 hover:text-yellow-400 transition">About</a>
      <a routerLink="/experience" routerLinkActive="text-yellow-400" class="text-gray-300 hover:text-yellow-400 transition">Experience</a>
      <a routerLink="/projects" routerLinkActive="text-yellow-400" class="text-gray-300 hover:text-yellow-400 transition">Projects</a>
      <a routerLink="/resume" routerLinkActive="text-yellow-400" class="text-gray-300 hover:text-yellow-400 transition">Resume</a>
    </div>

    <!-- Contact + Hamburger -->
    <div class="flex justify-end items-center gap-2 flex-row">
      <a routerLink="/contact" class="px-3 py-1 rounded-md bg-yellow-400  flex justify-end text-gray-900 text-sm font-medium hover:bg-yellow-300 transition">Contact</a>

      <!-- hamburger (mobile) -->
      <button (click)="toggleMobileMenu()" class="md:hidden flex justify-end  p-2 rounded focus:outline-none flex items-center" aria-label="Toggle menu">
        <div *ngIf="!isMobileMenuOpen" class="space-y-1">
          <span class="block w-6 h-[2px] bg-gray-300"></span>
          <span class="block w-6 h-[2px] bg-gray-300"></span>
          <span class="block w-6 h-[2px] bg-gray-300"></span>
        </div>
        <div *ngIf="isMobileMenuOpen">
          <span class="block w-6 h-[2px] bg-gray-300 rotate-45 translate-y-1.5"></span>
          <span class="block w-6 h-[2px] bg-gray-300 -rotate-45 -translate-y-1.5"></span>
        </div>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div *ngIf="isMobileMenuOpen" class="md:hidden mt-3 px-3 pb-3 space-y-2">
    <a routerLink="/about" (click)="closeMobileMenu()" class="block text-gray-300 hover:text-yellow-400 transition py-2">About</a>
    <a routerLink="/experience" (click)="closeMobileMenu()" class="block text-gray-300 hover:text-yellow-400 transition py-2">Experience</a>
    <a routerLink="/projects" (click)="closeMobileMenu()" class="block text-gray-300 hover:text-yellow-400 transition py-2">Projects</a>
    <a routerLink="/resume" (click)="closeMobileMenu()" class="block text-gray-300 hover:text-yellow-400 transition py-2">Resume</a>
  </div>
</nav>
